.banner-why-hapolearn {
  background-image: url("../public/img/banner_2.png");
  height: auto;
  display: flex;
  position: relative;
  padding: 60px 80px;
  @include style-img;

  .img-keyboard,
  .img-laptop {
    img {
      @include style-img;
    }
  }

  .img-laptop {
    flex: 1;
  }

  .img-keyboard {
    width: 400px;
    height: 478px;
    position: absolute;
    top: -30%;
    left: 0;
  }

  .lesson-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.text-why-hapo {
  color: $white_color;

  .big-text {
    font-size: 70px;
    font-weight: bold;
    font-family: $font_utm;
  }
}

.lesson {
  .icon {
    padding: 5px;
    background-color: $white_color;
    color: $black_color;
    border-radius: 50%;
    margin-left: 20px;
  }
}
