div.banner-1 {
    position: relative;
    height: 600px;
    background: #E5E5E5;

    .bg {
        img {
            width: 100%;
            height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }

    div.content,
    .main-content,
    .feed-back {
        display: block;
        width: auto;
        height: auto;
        margin: 190px 20px;
        position: absolute;
        top: 0;

            span.text-motto,
            span.text-add,
            small {
                display: block;
            }

        span.text-motto {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 61px;
            letter-spacing: -0.05em;
        }

        span.text-add {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
            color: #11114E;
        }

        span.text-time {
            display: inline-block;
            margin-top: 40px;
            padding: 10px 70px;
            color: white;
            background-color: #B2D235;
            border-radius: 35px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: bold;
            text-align: center;
        }
    }

}
.main-content {
    margin-top: -70px;
}

.feed-back {
    padding-bottom: 60px;
}

.container {
    background: transparent;

    .card{
        text-align: center;
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

        .logo {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .lg-html {
            background-color: #3F6185;
        }

        .lg-laravel {
            background-color: #DC594C;
        }

        .lg-php {
            background-color: #556598;
        }

        .lg-css {
            background-color: #24ABE2;
        }

        .lg-rails {
            background-color: #E14E40;
        }

        .lg-java {
            background-color: #1B75BB;
        }
        img {
            width: 50%;
            height: 50%;
        }

        .card-title {
            color: green;
        }

        a {
            border: 0;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 20px;
            background: #B2D235;
        }
    }

    div.courses,
    .txt-feed-back {
        width: 450px;
        margin: 30px auto;
        text-align: center;
        position: relative;

        h1 {
            font-weight: 700;
        }
    }

    span.other-course,
    .title-feedback {
        width: auto;
        display: inline-block;
        margin: 30px auto;
        text-align: center;


        span {
            width: auto;
            display: block;
            border: 2px solid #B2D235;
            border-radius: 2px;
        }

        i {
            position: absolute;
            size: 10px;
            color: #B2D235;
            top: 37px;
            right: 60px;
        }

        a {
            text-decoration: none;
            color: #B2D235;
            &:hover {
                color:green;
                
                i {
                    color: green;
                }
            }   
        }
    }
}
div.banner-2 {
    background-image: url('../Public/Img/banner-2.png');
    width: 100%;
    display: flex;
    position: relative;

    .keyboard {
        position: absolute;
        top: -200px;
        width: 300px;
        height: 400px;
        
        img {
            width: 100%;
            height: 100%;
        }

    }

    .lap {
        flex: 1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .lesson {
        flex: 1;
        color: white;
        margin-top: 160px;
        margin-left: 135px;
    

        ul {
            list-style: none;
            padding-left: 1rem;

            span.list {
                padding: 3px;
                border-radius: 50%;
                background-color: #FFFFFF;
                margin-right: 10px;
            }

            i {
                color: black;
            }

            li {
                padding: 5px 0
            };
        }
    }
}

.carousel-inner {
    width: 100%;
    display: block;
    height: auto;

    .carousel-item {
        width: 100%;
        height: auto;

        .item {
            width: 45%;
            display: inline-block;
            margin: 0 20px;
        }
      
    }

}

.item {
    .comment {
        background: #FFFFFF;
        border: 0.5px solid #E2E2E2;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        display: flex;
    }
    
    span.line {
        height: auto;
        width: 5px;
        background-color: #D9DADC;
        margin: 5px 10px 5px 10px;
    }
}

.info {
    margin-top: 10px;
    display: flex;
    padding: 5px 10px;

    .avt-author {
        padding: 5px;
    }

    .data {
        margin-left: 10px;

        span {
            display: block;
        }
    }
}


