.main-content {
    margin-top: -120px;
    font-family: $font_san_serif;
  }
  
.feed-back {
  padding-bottom: 60px;
}

.card {
  text-align: center;
  border-radius: 20px;
  background: $white_color;
  box-shadow: 0px 0px 10px $color_box;

  .logo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .lg-html {
    background-color: $blue_color;
  }

  .lg-laravel {
    background-color: $red_color;
  }

  .lg-php {
    background-color: $indigo_color;
  }

  .lg-css {
    background-color: $info_color;
  }

  .lg-rails {
    background-color: $danger_color;
  }

  .lg-java {
    background-color: $primary_color;
  }

  .card-title {
    color: $green_color;
  }

  a {
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background: $warning_color;
  }
}

div.courses,
.txt-feed-back {
  margin-top: 55px;
  text-align: center;
  position: relative;

  h1 {
    font-weight: 800;
  }
}

span.other-course,
.title-feedback {
  width: auto;
  display: inline-block;
  margin: 30px auto;
  text-align: center;

  span {
    width: auto;
    display: block;
    border: 2px solid $warning_color;
    border-radius: 2px;
  }

  i {
    size: 10px;
    color: $warning_color;
  }

  a {
    text-decoration: none;
    color: $warning_color;
    &:hover {
      color: $green_color;

      i {
        color: $green_color;
      }
    }
  }
}
  
@media screen and (max-width: 768px) {
  .main-content {
    margin-top: -80px;
  }

  .card-body {
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
  .col-courses {
    padding: 0 8px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 414px) {
  .main-content {
    margin-top: -150px;
  }
  
  .col-courses {
    padding: 0 4px;
  }

  .card {
    margin: 30px;

    a {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
