.navbar {
    padding-left: 10%;
    padding-right: 10%;

    a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.row-header {
    width: 100%;
    margin: 0;
}

ul.menu {
    li.nav-item {
        margin: 0;

        a.nav-link {
            border: 0;
            border-radius: 20px;
            padding-left: 20px;
            padding-right: 20px;
    
            &:hover{
                color: white;
            }
        }

        .item-active {
            color: #fff;
            background-color: #B2D235;
        }
    }
}

@media only screen and (max-width: 990px) {

    .logo {
        width: 100%;

        img {
            margin: auto;
            display: block;
        }
    }

    .main-menu {
        width: 100%;
    }

    ul.menu {
        display: inline-block;
        margin-top: 10px;
        li.nav-item {
           display: inline-block;
        }
        .item {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 30px;
        }

        .item-active {
            color: #fff;
        }
    }
}

@media only screen and (max-width: 414px) {
    .tbody {
        height: 100vh;
        overflow: visible;
    }
    .navbar {
        padding: 0;
        margin: 0;

        .container {
            padding: 0;
            margin: 0;
        }
    }
    
    .logo{
        .btn-menu {
            display: block;
            position: absolute;
            top: 20px;
            border: 0;
            outline: 0; 
            -o-transition-property: none ;
            -moz-transition-property: none ;
            -ms-transition-property: none ;
            -webkit-transition-property: none ;
            transition-property: none;
            
        }


        .image {
            padding: 20px 100px;
            height: auto;
        }
    }

    .btn-menu {
        display: block;
    }

    ul.menu {
        display:inline-block;
        height: calc(100vh - 80px);
        width: 100%;
        padding-top: 0;
        margin-top: 0;

        li.nav-item {
           display: block;
        }
        
        .item {
            display: block;
            padding: 10px 20px;
            border-radius: 30px;
        }

        .item-active {
            color: #fff;
        }
    }
}