.custom-modal {
  width: 30%;
  position: relative;
  margin: 50px auto;
}

.close-modal {
  background-color: $warning_color;
  color: $white_color;
  padding: 5px 8px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;
  cursor: pointer;
}

.tab-list {
  text-align: center;
  margin: 0;
  border: 0;
  border-bottom: 2px solid $warning_color;

  .tab-item {
    padding: 0;
    a {
      border: 0;
      font-size: 25px;
      font-weight: bold;
      font-family: $font_san_serif;
      text-transform: uppercase;
      color: $warning_color;
      background-color: $white_color;
      padding: 10px 0;
    }

    .active {
      color: $white_color;
      background-color: $warning_color;
    }
  }
}

.register-content,
.login-content {
  padding: 30px;
}

.forgot {
  display: flex;
  justify-content: flex-end;

  a {
    color: $warning_color;
  }
}

.btn-login {
  background-color: $warning_color;
  color: $white_color;
  padding: 10px 60px;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  border-radius: 22px;
  font-weight: bold;
}

.integrated-login {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid $color_box;
  }

  &::before {
    margin-right: 0.25em;
  }
  &::after {
    margin-left: 0.25em;
  }
}

.icon-login {
  pad: 10px;
  font-size: 30px;
}

.login-accout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white_color;
  padding: 10px 0;

  span {
    margin-left: 10px;
  }
}

.login-with-google {
  background-color: $color_google;
}

.login-with-facebook {
  background-color: $color_face_book;
}

@media only screen and (max-width: 768px) {
  .custom-modal {
    width: 50%;
  }
}

@media only screen and (max-width: 414px) {
  .custom-modal {
    width: 80%;
  }
}
