@import "variable";
@import "header";
@import "banner-hapo-learn";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-content {
  padding: 70px 0;
  background-color: $white_color;
}

@import "content";
@import "banner-lesson";
