@import "variable";

.container-fluid {
  margin: 0;
  padding: 0;
}

@import "header";
@import "banner-hapo-learn";

.top-content {
  padding: 70px 0;
  background-color: #e5e5e5;
}

@import "content";
@import "banner-lesson";
